<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">

    <title>Question Paper</title>
    <style>
        .text{text-align: center; font-size:25px;}
        .dat1{ text-align: left; font-size:15px;}
        .subject{ text-align: center; font-size:15px;}
        .mark{ text-align: right; font-size:15px;}
        .clg{ text-align: center;}
    </style>
</head>
<body>
<h1 class="text">Terna Engiinering college</h1>
<table>
    <tr>
        <th class="dat1">Date: {{date}}</th>
        <th class="subject">Subject:{{sub}}</th>
        <th class="mark">Mark: 100</th>
    </tr>
</table>
<hr>
<table>
    <tr>
        <th><p style=" text-align:left; font-size:13px;">Q1: Attempt any four</p></th>
        <th style="text-align:right; font-size:13px;">20 marks</th>
    </tr>
</table>
<p style="font-size:13px; margin-left:20px;">(a) {{Q1}}</p>
<p style="font-size:13px; margin-left:20px;">(b) {{Q2}}</p>
<p style="font-size:13px; margin-left:20px;">(c) {{Q3}}</p>
<p style="font-size:13px; margin-left:20px;">(d) {{Q4}}</p>
<p style="font-size:13px; margin-left:20px;">(e) {{Q5}}</p>
<p style="font-size:13px; margin-left:20px;">(f) {{Q5}}</p>
<p style="font-size:13px; margin-left:20px;">(g) {{Q6}}</p>

<table>
    <tr>
        <th><p style=" text-align:left; font-size:13px;">Q2: Attempt any one</p></th>
        <th style="text-align:right; font-size:13px;">20 marks</th>
    </tr>
</table>
<p style="font-size:13px; margin-left:20px;">(a) {{Q2a}}</p>
<p style="font-size:13px; margin-left:20px;">(b) {{Q2b}}</p>

<table>
    <tr>
        <th><p style=" text-align:left; font-size:13px;">Q3: Attempt any one</p></th>
        <th style="text-align:right; font-size:13px;">20 marks</th>
    </tr>
</table>
<p style="font-size:13px; margin-left:20px;">(a) {{Q3a}}</p>
<p style="font-size:13px; margin-left:20px;">(b) {{Q3b}}</p>

<table>
    <tr>
        <th><p style=" text-align:left; font-size:13px;">Q4: Attempt any one</p></th>
        <th style="text-align:right; font-size:13px;">20 marks</th>
    </tr>
</table>
<p style="font-size:13px; margin-left:20px;">(a) {{Q4a}}</p>
<p style="font-size:13px; margin-left:20px;">(b) {{Q4b}}</p>

<table>
    <tr>
        <th><p style=" text-align:left; font-size:13px;">Q5: Attempt any four</p></th>
        <th style="text-align:right; font-size:13px;">20 marks</th>
    </tr>
</table>
<p style="font-size:13px; margin-left:20px;">(a) {{Q5a}}</p>
<p style="font-size:13px; margin-left:20px;">(b) {{Q5b}}</p>
<p style="font-size:13px; margin-left:20px;">(c) {{Q5c}}</p>
<p style="font-size:13px; margin-left:20px;">(d) {{Q5d}}</p>
<p style="font-size:13px; margin-left:20px;">(e) {{Q5e}}</p>
<hr>
</body>
</html>