<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Question Paper</title>
    <style>
        .text{text-align: center; font-size:25px;}
        .dat1{ text-align: left; font-size:15px;}
        .subject{ text-align: center; font-size:15px;}
        .mark{ text-align: right; font-size:15px;}
    </style>
</head>
<body>
<h1 class="text">Terna Engiinering college</h1>
<table>
    <tr>
        <th class="dat1">Date: {{date}}</th>
        <th class="subject">Subject:{{sub}}</th>
        <th class="mark">Mark:20</th>
    </tr>
</table>
<hr>
<table>
    <tr>
        <th><p style=" text-align:left; font-size:13px;">Q1: Attempt any five</p></th>
        <th style="text-align:right; font-size:13px;">10 marks</th>
    </tr>
</table>
<p style="font-size:13px; margin-left:20px;">(a) {{Q1}}</p>
<p style="font-size:13px; margin-left:20px;">(b) {{Q2}}</p>
<p style="font-size:13px; margin-left:20px;">(c) {{Q3}}</p>
<p style="font-size:13px; margin-left:20px;">(d) {{Q4}}</p>
<p style="font-size:13px; margin-left:20px;">(e) {{Q5}}</p>
<p style="font-size:13px; margin-left:20px;">(f) {{Q5}}</p>
<p style="font-size:13px; margin-left:20px;">(g) {{Q6}}</p>

<table>
    <tr>
        <th><p style=" text-align:left; font-size:13px;">Q2: Attempt any two</p></th>
        <th style="text-align:right; font-size:13px;">10 marks</th>
    </tr>
</table>
<p style="font-size:13px; margin-left:20px;">(a) {{Q2a}}</p>
<p style="font-size:13px; margin-left:20px;">(b) {{Q2b}}</p>
<p style="font-size:13px; margin-left:20px;">(c) {{Q2c}}</p>
<p style="font-size:13px; margin-left:20px;">(d) {{Q2d}}</p>

<hr>

</body>
</html>